statistics {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.stat-table {
    width: 100%;
    border-collapse: collapse;
}

.stat-table th,
.stat-table td {
    border: 1px solid #ccc;
    padding: 8px;
}

.stat-table th {
    background-color: #f2f2f2;
}

.item {
    display: table-row;
}

.label,
.percentage {
    display: table-cell;
    font-weight: bold;
}

.percentage {
    color: green;
}